@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: rgba(126, 88, 88, 0);
   background: url("../images/travelworthy-backdrop.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: 'Open Sans', sans-serif;}

h1 {
  background: url("../images/Logo.png");
  background-size: 100% 80%;
  background-repeat:no-repeat;
  width: 320px;
  height: 250px;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px; 
  position: fixed; 
	left: 20px; 
    top: 80px; 
}

h2 {
  margin: 1.75em 0 0 0;
  color: #adffda; 
  font-weight: normal;}

h2 + p {
 
  margin: 0.25em 0 0 0;}
p + p {
  margin: 0;}
p + h2 {
  margin: 10px 0 0 0;}

h3 {
  text-indent: 400%;
  
  color: chocolate; 
  font-weight: normal;
  margin-top: 50px;
  margin-left: 20px;
}

h3 + p {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    }
p + h3 {
  margin: 20px 0 0 0;
}

/* message under the logo */

#message {
  float: left;
  clear: left;
  background-color: #ffb87a;
  color: #1e1b1e;
  width:170px;
  padding: 18px 30px;
  text-align: center;}

/* black bar across the right hand side of the page */

#info {
  background-color:#696969;
  color: #fff;
  width: 200px;
  padding: 0 15px;
  text-align: center;
  min-height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
}

/* details in the black bar */

#hotelName {
  text-transform: uppercase;
  text-align: center; 
  font-size: 120%;
  margin-top: 10px;
  border-top: 2px solid #adffda;
  border-bottom: 2px solid #adffda; 
  padding: 10px 0;}

#hotel1 {
  margin-top: 1em; 
  border-top: 1px solid #adffda; 
  padding-top: 1em;} 
#hotel2 {
  border-bottom: 1px solid #adffda; 
  padding-bottom: 1em;}

#rooms {
  font-size: 440%;
  color: #ffb87a;
  display: inline-block;
  margin: 0;}

#roomRate{
  text-decoration: line-through;
  display: inline-block;
  padding-top: 10px;}

#specialRate {  
  font-size: 440%;
  color: #ffb87a;
  display: inline-block;
  padding: 10px 0 20px 0;
  margin: 0;}

#offerEnds {
  text-transform: uppercase;
  color: #ffb87a;
  font-size: 75%;}

  nav{
   height: 80px;
   width: 100;
   font-size: 16px;
   text-transform: uppercase;
   padding: 7px 10px;
   
  }


  nav ul{
   list-style-type: none;
    float: left;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(255, 255, 128);
   position: fixed;
   top: 0;
   width: 100%;
   border-bottom: 5px solid chocolate;
  
 }

 nav li{
   float: left;
  
 }

 nav li a {
     display: block;
     color: chocolate;
     text-align: center;
     padding: 24px 50px;
     text-decoration: none;
 }

#main{
   padding: 24px 50px;

}

.container{
    /* set to be the full size of the browser page */
    width: 85%;
    height: 100%;
    /* move a 100px down from the top margin */
    margin-top: 100px;
    margin-left: 30px;
   
}

.true, .false {
  padding: 0 50px 0 50px;
  line-height: 28px;
  text-align: left;
  background-image: url("../images/check-cross.png");
  background-position: 120px 0;
  background-repeat: no-repeat;}

.false {
  background-position: 120px -28px;}

/* footer */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: #adffda;}

#footer p {
  padding: 5px;
  margin: 0;
  width: 50%;
 }

.data {
  padding: 10px;}  